#canvas {
    padding: 0;
    margin-bottom: 5px;
}

#RGB, #RGB_end, #RGB_canvas {
	height: 70px;
	/*background: rgb(128, 128, 128);*/
}
#RC .slider-selection, #RE .slider-selection {
	background: #FF8282;
}
#RC .slider-handle, #RE .slider-handle {
	background: red;
}
#GC .slider-selection, #GE .slider-selection {
	background: #428041;
}
#GC .slider-handle, #GE .slider-handle {
	background: green;
}
#BC .slider-selection, #BE .slider-selection {
	background: #8283FF;
}
#BC .slider-handle, #BE .slider-handle {
	border-bottom-color: blue;
}

#inputPanel .form-group.color-definition .slider.slider-horizontal {
	width: 100%;
}
#inputPanel .range-slider b {
	width: 5%;
    display: inline-block;
}
#inputPanel .form-group label {
    text-align: right;
}

#accordion .panel-heading a {
    text-decoration: none;
}

#saveSettings, #loadSettings {
    margin-left: 10px;
}
#saveSettings, #saveLoadResult {
    margin-right: 15px;
}

.slider.slider-horizontal {
	margin-bottom: 5px;
	width: 87%;
}
input[type="checkbox"] {
	height: 16px;
}
.form-group {
	margin-bottom: 0;
    padding: 7px 0;
}
#selectFile {
    margin-top: 5px;
    width: 30%;
    display: none;
}

/* Position styles */
.clear {
    clear: both;
}
.float-right {
    float: right;
}

/* Appearance styles */
.hide {
    display: none;
}

/* External CSS */

/* Tooltip CSS */
 .tooltip-x {
    /*position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;*/
}
.tooltip-x .tooltiptext {
    visibility: hidden;
    width: 250px;
    background-color: #000000c7;
    color: #fff;
    text-align: center;
    font-weight: normal;
    border-radius: 4px;
    padding: 6px 3px;

    /* Position the tooltip */
    position: absolute;
    right: 0;
    top: 25px;
    z-index: 1;
}
.tooltip-x:hover .tooltiptext {
    visibility: visible;
}

/* Bootstrap collapse accordion */
.panel-heading a:after {
	font-family:'Glyphicons Halflings';
	content:"\e114";
	float: right;
	color: grey;
}
.panel-heading a.collapsed:after {
	content:"\e080";
}

/* Btn file styles */
/*.btn-file {*/
    /*position: relative;*/
    /*overflow: hidden;*/
/*}*/
/*.btn-file input[type=file] {*/
    /*position: absolute;*/
    /*top: 0;*/
    /*right: 0;*/
    /*min-width: 100%;*/
    /*min-height: 100%;*/
    /*font-size: 100px;*/
    /*text-align: right;*/
    /*filter: alpha(opacity=0);*/
    /*opacity: 0;*/
    /*outline: none;*/
    /*background: white;*/
    /*cursor: inherit;*/
    /*display: block;*/
/*}*/

